<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <title>What's the weather like?</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"
    />
    
  </head>

  <body>
    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Weather App
          </h1>
          <h2 class="subtitle">
            Compare Cities
          </h2>
          <h3>by <a href="https://github.com/Ryyk">Artur Arêde</a></h3>
        
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-1 is-5">
            <form method="POST">
              <div class="field has-addons">
                <input
                  class="input"
                  name="city_name1"
                  type="text"
                  placeholder="City Name 1"
                />
                <input
                  class="input"
                  name="city_name2"
                  type="text"
                  placeholder="City Name 2"
                />
                <input
                  class="input"
                  name="city_name3"
                  type="text"
                  placeholder="City Name 3"
                />
                <div class="control">
                  <button class="button is-primary">
                    Compare Cities
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <% if(cities_data !== null){ %>
    <nav class="level">
                <div class="level-item">
                <div class="columns">
                        <div class="column is-half is-offset-one-quarter">
                          
                          <div class="table-container">
                            <table id="myTable" class="table is-hoverable is-striped">
                              <thead>
                                <tr>
                                  <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">City</th>
                                  <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">Temperature</th>
                                  <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">Description</th>
                                  <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">Sunrise</th>
                                  <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(5)')" style="cursor:pointer">Sunset</th>
                                </tr>
                              </thead>
                          </div>
                          <tbody>
                           <% for (city of cities_data) {%>
                              <tr class="item">
                              <td><%= city.name %></td>
                              <td><%= city.temperature %> °C </td>
                              <td>
                                  <span class="icon is-medium">
                                      <img
                                          src="http://openweathermap.org/img/w/<%= city.icon %>.png"
                                          alt="Image" />
                                      <%= city.description %>
                                  </span>
                              </td>
                              <td><%= city.sunrise %></td>
                              <td><%= city.sunset %></td>
                              </tr>
                          <% } %>
                          </tbody>
                          </table>
                          
                        </div>
                      </div>
        </div>
        <div class="level-item" style="width:10%">
                <div>
                      </div>
        </div>
                <div class="level-item" style="width:22%">
                        <canvas id="myChart"></canvas>
                </div>
        
    </nav>
    
    <script>
    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    let massPopChart = new Chart(myChart, {
        type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
        labels:['<%= cities_data[0].name %>', '<%= cities_data[1].name %>', '<%= cities_data[2].name %>'],
        datasets:[{
            label:'Temperature',
            data:[
            <%= cities_data[0].temperature %>,
            <%= cities_data[1].temperature %>,
            <%= cities_data[2].temperature %>
            ],
            //backgroundColor:'green',
            backgroundColor:[
            'rgba(0, 210, 180, 1.0)',
            'rgba(0, 144, 167, 1.0)',
            'rgba(0, 168, 130, 0.2)'
            ],
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
        }]
        
        },
        options:{
        title:{
            display:false,
            text:'Temperature by city',
            fontSize:25
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    steps: 10,
                    stepValue: 5
                }
            }]
        },
        legend:{
            display:true,
            position:'right',
            labels:{
            fontColor:'#000'
            }
        },
        layout:{
            padding:{
            left:10,
            right:0,
            bottom:0,
            top:0
            }
        },
        tooltips:{
            enabled:true
        }
        }
    });
    </script>
    <% } %>
  </body>
</html>
